<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Only Flans</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'welcome' %}">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_form' %}">Contactanos</a>
        </li>
      </ul>
      <ul class="navbar-nav me-2">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <p class="d-inline">Bienvenido {{ user.username }}</p>
          <a class="btn btn-secondary d-inline" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
        {% else %}
        <li class="nav-link">
          <a class="btn btn-secondary d-inline" href="{% url 'login' %}">Iniciar Sesión</a>
          <a class="btn btn-secondary d-inline ms-2" href="{% url 'register' %}">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>