{% extends "base.html" %}

{% block 'content' %}

<main>
    <section>
        <h2>Nuestra Historia</h2>
        <p>OnlyFlans es una empresa familiar dedicada a la elaboración y venta de los más deliciosos flanes caseros. Fundada en el año XXXX por [nombre del fundador], nuestra pasión por crear postres de calidad y sabor excepcional nos ha llevado a convertirnos en un referente en el mercado.</p>
        <p>Nos enorgullece ofrecer una amplia variedad de sabores, desde el clásico flan de vainilla hasta opciones más innovadoras como flan de chocolate, café, frutas tropicales y mucho más.</p>
    </section>

    <section>
        <h2>Nuestra Misión</h2>
        <p>En OnlyFlans, nuestra misión es deleitar a nuestros clientes con flanes exquisitos y de alta calidad, elaborados con ingredientes frescos y naturales. Nos esforzamos por brindar una experiencia gastronómica única que satisfaga los paladares más exigentes.</p>
    </section>

    <section>
        <h2>Nuestro Equipo</h2>
        <p>Detrás de cada delicioso flan de OnlyFlans hay un equipo apasionado y comprometido con la excelencia. Nuestros chefs expertos se dedican a perfeccionar cada receta, mientras que nuestro equipo de atención al cliente trabaja arduamente para garantizar la satisfacción de cada cliente.</p>
    </section>
</main>

{% endblock 'content' %}