{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bienvenido a Onlyflans</title>
        {% include "includes/styles.html" %}
    </head>
    <body>

        {% block 'navbar' %}
            {% include 'includes/navbar.html' %}
        {% endblock 'navbar' %}

        {% block 'header' %}
            {% include 'includes/header.html' %}
        {% endblock 'header' %}

        {% block 'content' %}

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        {% endblock 'content' %}

        {% block 'footer' %}
            {% include 'includes/footer.html' %}
        {% endblock 'footer' %}

        {% include "includes/scripts.html" %}

    </body>
</html>