{% extends "base.html" %}

{% block 'content' %}

<section>

    <div class="text-center mt-1 mb-4">
        <h2 class="d-inline">DETALLE DEL FLAN</h2>
        <a class="btn btn-secondary d-inline ms-5" id="volver" href="{% url 'index' %}">Volver</a>
    </div>

    <div class="card mb-3 mx-auto" style="max-width: 1280px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{flan.image_url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{flan.name}}</h5>
                    <p class="card-text">{{flan.description}}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">Valor: ${{ flan.precio|floatformat:'-3g' }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock 'content' %}